html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.paragraph-container {
    display: flex;
    justify-content: center;
}

p {
    width: 200px;
    text-align: center;
}

header {
    text-align: center;
    height: 50px;
    border: 2px solid rgb(255, 0, 0);
}

.scroll-to-top {
    display: flex;
    justify-content: center;
    right: 20px;
    bottom: 20px;
    height: 70px;
    width: 70px;
    border: 2px solid black;
    border-radius: 50%;
    position: fixed;
}
.arrow {
    color: black;
    position: absolute;
    top: 10px;
    font-size: 50px;
}